{% extends "base.html" %}
{% block title %} 城市人口排行 {% endblock %}
{% block headmessage %} 國際城市人口排行 {% endblock %}
{% block content %}
	
	選取國家：
	<select>
	{% for country in countries %}
		<option value="{{country.id}}">{{ country.name }}</option>
	{% endfor %}
	</select>
	<br>
	<table class="table table-striped">
		<tr><td>城市名稱</td><td>人口數</td><td>國家</td></tr>
	{% for city in cities %}
		<tr>
			<td>
			<a href='/play/{{tv.id}}/'>
				{{ city.name }}
			</a>
			</td>
			<td>
				{{ city.population }}
			</td>
			<td>
				{{ city.country }}
			</td>			
		</tr>
	{% endfor %}
	</table>
{% endblock %}